# Python Introduction
Python is a widely used high-level programming language for general-purpose programming, created by Guido van Rossum and first released in 1991. An interpreted language, Python has a design philosophy which emphasizes code readability (notably using whitespace indentation to delimit code blocks rather than curly braces or keywords), and a syntax which allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java. The language provides constructs intended to enable  writing clear programs on both a small and large scale.

Python features a dynamic type system and automatic memory management and supports multiple programming paradigms, including object-oriented, imperative, functional programming, and procedural styles. It has a large and comprehensive standard library.

Python interpreters are available for many operating systems, allowing Python code to run on a wide variety of systems. CPython, the reference implementation of Python, is open source software and has a community-based development model, as do nearly all of its variant implementations. CPython is managed by the non-profit Python Software Foundation.

# History

Python was conceived in the late 1980s, and its implementation began in December 1989 by Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in the Netherlands as a successor to the ABC language (itself inspired by SETL) capable of exception handling and interfacing with the operating system Amoeba. Van Rossum is Python's principal author, and his continuing central role in deciding the direction of Python is reflected in the title given to him by the Python community, benevolent dictator for life (BDFL).

About the origin of Python, Van Rossum wrote in 1996:

`Over six years ago, in December 1989, I was looking for a "hobby" programming project that would keep me occupied during the week around Christmas. My office ... would be closed, but I had a home computer, and not much else on my hands. I decided to write an interpreter for the new scripting language I had been thinking about lately: a descendant of ABC that would appeal to Unix/C hackers. I chose Python as a working title for the project, being in a slightly irreverent mood (and a big fan of Monty Python's Flying Circus).`

Python 2.0 was released on 16 October 2000 and had many major new features, including a cycle-detecting garbage collector and support for Unicode. With this release the development process was changed and became more transparent and community-backed.

Python 3.0 (which early in its development was commonly referred to as Python 3000 or py3k), a major, backwards-incompatible release, was released on 3 December 2008 after a long period of testing. Many of its major features have been backported to the backwards-compatible Python 2.6.x and 2.7.x version series.

The End Of Life date (EOL, sunset date) for Python 2.7 was initially set at 2015, then postponed to 2020 out of concern that a large body of existing code cannot easily be forward-ported to Python 3. In January 2017 Google announced work on a Python 2.7 to Go transcompiler, which The Register speculated was in response to Python 2.7's planned end-of-life but Google cited performance under concurrent workloads as their only motivation.

https://en.wikipedia.org/wiki/Python_(programming_language)

# The Zen of Python
- Beautiful is better than ugly.
- Explicit is better than implicit.
- Simple is better than complex.
- Complex is better than complicated.
- Flat is better than nested.
- Sparse is better than dense.
- Readability counts.
- Special cases aren't special enough to break the rules.
- Although practicality beats purity.
- Errors should never pass silently.
- Unless explicitly silenced.
- In the face of ambiguity, refuse the temptation to guess.
- There should be one-- and preferably only one --obvious way to do it.
- Although that way may not be obvious at first unless you're Dutch.
- Now is better than never.
- Although never is often better than *right* now.
- If the implementation is hard to explain, it's a bad idea.
- If the implementation is easy to explain, it may be a good idea.
- Namespaces are one honking great idea -- let's do more of those!

https://www.python.org/dev/peps/pep-0020/

###### Installing Python3

## On Mac

#### Installing `brew`
```bash
$ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)" < /dev/null 2> /dev/null```

#### Using `brew` installing Python3 locally
```bash
$ brew  install python3```


#### To find the path for `python3`
```bash
$ which python3
/usr/local/bin/python3```

## On Windows

Sorry, can't say much as I am not a windows user.

https://docs.python.org/3/using/windows.html 

## On linux

### `pip`
`pip` is a package management system used to install and manage software packages written in `Python`. Many packages can be found in the `Python Package Index (PyPI)`.

https://en.wikipedia.org/wiki/Pip_(package_manager)

https://pypi.python.org/pypi/pip


### Ubuntu
`Ubuntu 16.04` ships with both `Python3` and `Python2`. 


By default `pip` for Python2 is installed but not for Python3.

Now we need to install `pip3` for `Python3`. 

```bash
sudo apt-get install -y python3-pip```


#### Installing `Python3` `virtualenv`
```bash
sudo pip install virtualenv```

#### If required upgrade `pip`

```bash
sudo pip install --upgrade pip```

#### `Python3 virtualenv`

```bash
mkdir sample_project_python3
cd sample_project_python3
virtualenv .venv```


#### `Python2 virtualenv`

```bash
mkdir sample_project_python2
cd sample_project_python2
virtualenv -p /usr/bin/python2 .venv```

### CentOS / Amazon AMI
```bash
sudo -i 
yum install python36 python36-pip
pip-3.6 install virtualenv
pip install --upgrade pip```



# Python virtualenv installation

```bash
$ pip3 install virtualenv```

# Advantages of virtualenv
- Isolated Python runtime environments without modifying the root or system python installation.
- Eash while deploying several python applications and have different settings.
- Helpful when runtime dependencies differ between frameworks or libraries in various applications.
- `virtualenv` is very useful in a more dynamic development environment.

# Creating Virtualenv

Steps to create `virtualenv`

```bash
$ mkdir sample_project
$ cd sample_project/
$ virtualenv .venv
$ ls -lrtha
total 0
drwxr-xr-x+ 35 username  CORP\Domain Users   1.2K Apr  6 10:49 ..
drwxr-xr-x   3 username  CORP\Domain Users   102B Apr  6 10:50 .
drwxr-xr-x   7 username  CORP\Domain Users   238B Apr  6 10:50 .venv```

# Activating the Virtualenv

```bash
$ source .venv/bin/activate
(.venv)$ ```

We can install libararies only to this environment without modifying the actual system python installation using `pip`

#### To start `python` interactive shell
```bash
(.venv)$ python
Python 3.6.1 (default, Apr  4 2017, 09:40:51) 
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>```

#### How to properly Quit `python` interactive shell
- You can either use exit() or Ctrl-D (i.e. EOF) to exit.
- The brackets behind the exit function are crucial.
- exit without brackets won't work in `python3`

#### How to deactivate the `virtualenv` 
Just by running the command `deactivate` we can come out the `virtualenv`
```bash
(.venv)$ deactivate
$ ```

# Going forward we are going to use only `Python3`

- End Of Life for `Python2.7` is on April 12th, 2020
- Security patches 
- Not to invest time on code portability and re-writing the existing code
- More here on https://pythonclock.org/

# Interactive shell Continued

## Primitive data types

|Variable type|Example|Comment|
|:-----------:|:-------:|:-------------|
|`bool`|`True/False`| boolean true/false values|
|`int` `long`| 99999999999| Numbers/Integers (forget about the range of integers in `Python`) <br> Note: `long` wont see long as type in `python`|
|`float`| 0.99999999999| Decimals/Not whole integers|
|`str`| `"Hello World!"`, `'Hello World!'`, `'''Hello World!'''`, `"""Hello World!"""`| Any text|
|`None`| `None`| To create empty variable without any meaningful value|

In [1]:
True

True

In [2]:
False

False

In [3]:
print(1 == 2)

False

In [4]:
'Hello World'

'Hello World'

In [5]:
3

3

In [6]:
3.141

3.141

In [7]:
None

# Different ways to define strings

In [8]:
print("Hello \"World!") # Simple Hello World

Hello "World!

In [9]:
print(r'Hello \'World!') # Notice we use single quote to wrap the string.

Hello \'World!

In [10]:
print('''Hello \'World!''') # Notice we use three single quotes to wrap the string.

Hello 'World!

In [11]:
print("Hello \\ World!")

Hello \ World!

In [12]:
print("""Hello \" World!""") # Notice we use three double quotes to wrap the string.

Hello " World!

All primitive data types can be stored in a variable using an assignment operator: `=`

# Boolean Variables

In [13]:
flag = True

In [14]:
type(flag)

bool

In [15]:
flag = False

In [16]:
type(flag)

bool

In [17]:
flag = 1
type(flag)

int

In [18]:
flag = 'Hello World!'
type(flag)

str

# Integer/Float Vairables

In [19]:
a = 5

In [20]:
type(a)

int

In [21]:
b = 10

In [22]:
type(b)

int

In [23]:
a + b

15

In [24]:
a / b # Difference between python2 and python3

0.5

In [25]:
c = a / b

In [26]:
type(c)

float

<span style="color:red">**Note**:</span> Variable `a` and `b` both are of type `int` result in variable `c` is of type `float`. This is new in `Python3`

In [27]:
c = b % a
c

0

In [28]:
type(c)

int

In [29]:
a = 2

In [30]:
b = 5

In [31]:
a ** b # a^b => 2^5

32

In [32]:
pow(a, b)

32

<span style="color:red">**Note:**</span> All the Variables are case sensitive in `Python`

In [33]:
A # Upper case a

NameError: name 'A' is not defined

<span style="color:red">**Note:**</span> `Traceback` are exceptions in `Python`. This is `NameError` exception is because since variable `A` is not found.

# String Variables

In [34]:
a = "Hello World!"

In [35]:
type(a)

str

In [36]:
b = input()

In [37]:
type(b)

str

In [38]:
b = int(b)
type(b)

ValueError: invalid literal for int() with base 10: ''

In [39]:
a = "Hello"

In [40]:

a + " " + b

'Hello '

In [41]:
a + ' ' + b

'Hello '

<span style="color:red">**Note:**</span> String concatenation `+` creates new string. To make new string when we know the format of the log. It is better to use String format.

In [42]:
c = '%s %s' % (a, b)
print(c)

Hello

In [43]:
a = 5
'Value of a is %d' % a

'Value of a is 5'

In [44]:
a = 3.141

In [45]:
"Value of a is %.2f" % a

'Value of a is 3.14'

In [46]:
"Value of a is %9.2f" % a

'Value of a is      3.14'

In [47]:
"Value of a is %09.2f" % a

'Value of a is 000003.14'

### Multiplication on strings
Essentially a multiple concatenation

In [48]:
"-" * 4

'----'

In [49]:
a = "サブブ"

In [50]:
type(a)

str

In [51]:
a = u"サブブ"
type(a)

str

# Simple Python Script

Let's create file `simple.py` with the following code

```python
#!/usr/bin/env python
# FileName: simple.py

print("Hello World!")```

#### To run the Python script
```bash
$ python simple.py```

#### To run the Python script as standalone. File has to be made executable by the following commands
For example:
```bash
$ chmod +x scriptname```

```bash
$ chmod 755 scriptname```

In our `simple.py`

```bash
$ ls -lrth
-rw-r--r--  1 username  1912965087    45B Apr  6 18:42 simple.py
$ chmod +x simple.py
$ ls -lrth 
-rwxr-xr-x  1 username  1912965087    45B Apr  6 18:42 simple.py
$ ./simple.py```

# Python internals

## Comiple code PVM (Python Virtual Machine)

```bash
$ ipython 
Python 3.6.1 (default, Apr  4 2017, 09:40:51) 
Type "copyright", "credits" or "license" for more information.

IPython 5.3.0 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
object?   -> Details about 'object', use 'object??' for extra details.

In [1]: import py_compile

In [2]: py_compile.compile('simple.py')
Out[2]: '__pycache__/simple.cpython-36.pyc'

$ ls -lrth *
-rwxr-xr-x  1 username  1912965087    45B Apr  6 18:42 simple.py

__pycache__:
-rw-r--r--  1 username  1912965087   118B Apr  6 18:54 simple.cpython-36.pyc```

Using shell: 
```bash
$ python -m py_compile my_first_simple_script.py```

- Developer don't have to and shouldn't bother about compiling Python code. 
- The compilation is hidden from the user for a good reason. Some newbies to Python wonder sometimes where these ominous files with the `.pyc` suffix might come from.
- If Python has write-access for the directory where the Python program resides, it will store the compiled byte code in a file that ends with a `.pyc` suffix. 
- If Python has no write access, the program will work anyway. The byte code will be produced but discarded when the program exits.
- Whenever a Python program is called, Python will check, if there exists a compiled version with the `.pyc` suffix. This file has to be newer than the file with the `.py` suffix. 
- If such a file exists, Python will load the byte code, which will speed up the start up time of the script. 
- If there exists no byte code version, Python will create the byte code before it starts the execution of the program. Execution of a Python program means execution of the byte code on the Python Virtual Machine (PVM). 

## Byte code
Every time a Python script is executed, byte code is created. If a Python script is imported as a module, the byte code will be stored in the corresponding .pyc file. 

This won't create a Byte code.
```bash
$ python simple.py```

```bash
$ python
Python 3.6.1 (default, Apr  4 2017, 09:40:51) 
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> import simple
Hello World!
>>> 

(.venv) $ ls -lrth *
-rwxr-xr-x  1 username  1912965087    45B Apr  6 18:42 simple.py

__pycache__:
total 8
-rw-r--r--  1 username  1912965087   150B Apr  6 19:29 simple.cpython-36.pyc```

# Structuring with Indentation

## Block
A block is a group of statements in a program or script. Usually it consists of at least one statement and of declarations for the block, depending on the programming or scripting language. A language, which allows grouping with blocks, is called a block structured language. Generally, blocks can contain blocks as well, so we get a nested block structure. A block in a script or program functions as a mean to group statements to be treated as if they were one statement. In many cases, it also serves as a way to limit the lexical scope of variables and functions

## Indentation
Python uses a different principle. Python programs get structured through indentation, i.e. code blocks are defined by their indentation. Okay that's what we expect from any program code, isn't it? Yes, but in the case of Python it's a language requirement not a matter of style. This principle makes it easier to read and understand other people's Python code.

Following is an example.

Loops and Conditional statements and function end with a colon "`:`".

In [52]:
# Python structures by colons and indentation. Here is a small example to print Pyramid
def print_pyramid(n):
    for each_line in range(0,n):
        for j in range(0,n-each_line):
            print(' ', end='', flush=True)
        for k in range(0, each_line):
            print('* ', end='', flush=True)
        print()
    print('Pyramid Printing completed!')

print_pyramid(10)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
Pyramid Printing completed!

# More on `Python` Variables

Good news! There is no declaration of variables required in Python.

**Another remarkable aspect of Python**: Not only the value of a variable may change during program execution but the type as well. You can assign an integer value to a variable, use it as an integer for a while and then assign a string to the same variable. 

### Valid Variable Names
The naming of variables follows the more general concept of an identifier. A Python identifier is a name used to identify a variable, function, class, module or other object.

- Uppercase letters "`A`" through "`Z`", the lowercase letters "`a`" through "`z`".
- The underscore `_`.
- Except for the first character, the digits 0 through 9.
- Python 3.x is based on Unicode. This means that variable names and identifier names can additionally contain Unicode characters as well.
- Identifiers are unlimited in length.
- Case is very important (significant).

### Python Keywords
No identifier can have the same name as one of the Python keywords, although they are obeying the above naming conventions: 

```python
and, as, assert, break, class, continue, def, del, elif, else,
except, False, finally, for, from, global, if, import, in, is, 
lambda, None, nonlocal, not, or, pass, raise, return, True, try, 
while, with, yield```

There is no need to learn them by heart. You can get the list of Python keywords in the interactive shell by using help. You type in help() in the interactive, but please don't forget the parenthesis:

<span style="color:red">**Note:**</span> Enter <code style="color:blue">`keywords`</code>

In [ ]:
help()

In [53]:
pi = 3             # data type is implicitly set to integer
pi = 3 + 0.141     # data type is changed to float
pi = "pi"          # and now it will be a string  
# A new object, which can be of any type, will be assigned to it. 
# Or the type of a variable can change during the execution of a script.

<span style="color:red">**Note:**</span> Python automatically takes care of the physical representation for the different data types, i.e. an integer values will be stored in a different memory location than a float or a string.

# Object References

We want to take a closer look on variables now. Python variables are references to objects, but the actual data is contained in the objects

As variables are pointing to objects and objects can be of arbitrary data type, variables cannot have types associated with them. This is a huge difference to C, C++ or Java, where a variable is associated with a fixed data type. This association can't be changed as long as the program is running in C, C++ or Java.

## To demonstrate

In [54]:
x = 42
y = x
print(x)
print(y)

42
42

In [55]:
y = 60
print(y)
print(x)

60
42

# `id` Function

In [56]:
x = 42
id(x)

140081250225088

In [57]:
y = x
id(x), id(y)

(140081250225088, 140081250225088)

In [58]:
y = 78
id(x), id(y)

(140081250225088, 140081250226240)

In [59]:
a = (2+2)/4
b = 1 * 1
c = 6-5
print(type(a), type(b), type(c))
id(a), id(b), id(c)

<class 'float'> <class 'int'> <class 'int'>

(140081035772720, 140081250223776, 140081250223776)

# Naming Conventions

#### `CamelCase` vs `camel_case`

The Style Guide for Python Code recommends underscore notation for variable names as well as function names. 

Python preferred is `camel_case`

https://www.python.org/dev/peps/pep-0008/#function-names

# Strings in Python

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. Strings can be subscripted or indexed. Similar to C, the first character of a string has the index 0.

|`0`|`1`|`2`|`3`|`4`|`5`|`6`|`7`|`8`|`9`|`10`|`11`|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|H|e|l|l|o| |W|o|r|l|d|!|
|-12|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|

In [60]:
a = 'Hello World!'
a[0]

'H'

In [61]:
a[6]

'W'

Length of the string

In [62]:
len(a)

12

Last Character can be accessed like this

In [63]:
a[len(a)-1]

'!'

 There is an easier way in Python. The last character can be accessed with -1, the second to last with -2 and so on

In [64]:
a[-1]

'!'

In [65]:
a[-2]

'd'

# Slicing

Substrings can be created with the slice or slicing notation.

|`0`|`1`|`2`|`3`|`4`|`5`|`6`|`7`|`8`|`9`|`10`|`11`|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|H|e|l|l|o| |W|o|r|l|d|!|

In [66]:
a[3:7]

'lo W'

## Immutable Strings
Like strings in Java and unlike C or C++, Python strings cannot be changed. Trying to change an indexed position will raise an error:

In [67]:
a[5] = '.'

TypeError: 'str' object does not support item assignment

## A String Peculiarity

This holds true for `objects` too.

In [68]:
a = 'HelloWorld'
b = 'HelloWorld'
print(a == b)
print(a is b)
print(id(a), id(b))

True
True
140081035755248 140081035755248

In [69]:
a = 'Hello World'
b = 'Hello World'
print(a == b)
print(a is b)
print(id(a), id(b))

True
False
140081035752240 140081035797296

In [70]:
a = "Baden-WÃ¼rttemberg"
b = "Baden-WÃ¼rttemberg"
print(a == b)
print(a is b)
print(id(a), id(b))

True
False
140081035687952 140081035688336

In [71]:
a = None
print(a is None)
print(a == None)
a = ''
print(a == '')
print(a is '')

True
True
True
True

## Escape Sequences in Strings

|Escape Sequence|Meaning Notes|
|:-:|:-|
|\newline|Ignored|
|\\|Backslash (\)|
|\'|Single quote (')|
|\"|Double quote (")|
|\a|ASCII Bell (BEL)|
|\b|ASCII Backspace (BS)|
|\f|ASCII Formfeed (FF)|
|\n|ASCII Linefeed (LF)|
|\N{name}|Character named name in the Unicode database (Unicode only)|
|\r|ASCII Carriage Return (CR)|
|\t|ASCII Horizontal Tab (TAB)|
|\uxxxx|Character with 16-bit hex value xxxx (Unicode only)|
|\Uxxxxxxxx|Character with 32-bit hex value xxxxxxxx (Unicode only)|
|\v|ASCII Vertical Tab (VT)|
|\ooo|Character with octal value ooo|
|\xhh|Character with hex value hh|

# Byte Strings

Python 3.0 uses the concepts of text and (binary) data instead of Unicode strings and 8-bit strings. Every string or text in Python 3 is Unicode, but encoded Unicode is represented as binary data. The type used to hold text is `str`, the type used to hold data is bytes. It's not possible to mix text and data in Python 3; it will raise `TypeError`. 
While a string object holds a sequence of characters (in Unicode), a bytes object holds a sequence of bytes, out of the range `0 .. 255`, representing the ASCII values. 
Defining bytes objects and casting them into strings:

In [72]:
x = b"Hallo"
print(x)
type(x)

b'Hallo'

bytes

In [73]:
t = str(x)
print(t)
t

b'Hallo'

"b'Hallo'"

In [74]:
u = t.encode("UTF-8")
print(u)
u

b"b'Hallo'"

b"b'Hallo'"

In [75]:
a = 'srinu 姓'
print(type(a))
print(type(a.encode('UTF-8')))
a.encode('UTF-8')

<class 'str'>
<class 'bytes'>

b'srinu \xe5\xa7\x93'

In [76]:
x = b"Hola \xe5\xa7\x93"
print(type(x))
# Convert byte string to UTF-8
x.decode("utf-8")

<class 'bytes'>

'Hola 姓'

In [77]:
type(x.decode('utf-8'))

str

# Some good practices

**In** `list` **:**  `append` **vs** `+`

In [78]:
import timeit
timeit.timeit('''a = []
for i in range(0, 1000):
    a += [i]''', number=10000)

1.323967781000647

In [79]:
a = [None]
for i in range(0,10):
    a[0] = i

print(a)

[9]

In [80]:
timeit.timeit('''a = []
for i in range(0, 1000):
    a.append(i)''', number=10000)

1.058120138999584

**In** `str` **:**  `join` **vs** `+`

In [81]:
import timeit
timeit.timeit('''a = ''
for i in range(0, 100):
    a += str(i) + ' ' ''', number=1000)

0.04628579600012017

In [82]:
a = []
for i in range(0, 10):
    a.append(str(i))
print(a)
print('$$$'.join(a))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
0$$$1$$$2$$$3$$$4$$$5$$$6$$$7$$$8$$$9

In [83]:
import timeit
timeit.timeit('''a = [str(i) for i in range(0, 100)]
''.join(a)''', number=1000)

0.03214454000044498

`Console Outputs` **:**  `print` **vs** `stdout` and `stderr`

In [84]:
import timeit
timeit.timeit('print("Hello")', number=10)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

0.0016983630002869177

In [85]:
import sys
import timeit
timeit.timeit('sys.stdout.write("Hello\\n")', number=10)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

0.0034882220006693387

In [86]:
import sys
import timeit
timeit.timeit('sys.stderr.write("Hello\\n")', number=10)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

0.008436895000158984

In [87]:
sys.stdout.write('Started\n')
try:
    print(1/0)
    sys.stdout.write('Done')
except Exception:
    sys.stderr.write('Error')
sys.stdout.write('Completed')

Started
Completed

Error

# Data Types we mainly use in our daily code
- `int`
- `str`
- `float`
- `list`
- `tuple`
- `dict`
- `set`
- `None`

There are other like:
- `frozenset`
- `complex`

# `float`

In [88]:
a = 5.222222222222222222222222222222222222111111111111111111111
a

5.222222222222222

In [89]:
len(str(a))

17

In [90]:
a = 5897248172984712897498127498712984719828749827497298729874498274719274918274129748912374.1

In [91]:
a

5.897248172984713e+87

In [92]:
type(a)

float

# `list`

In [93]:
a = [] # Empty list
b = list() # Empty list
print(a, b)

[] []

In [94]:
a = [1, 2, 3]
b = [40, 5, 6]
a + b

[1, 2, 3, 40, 5, 6]

In [95]:
a, b

([1, 2, 3], [40, 5, 6])

In [96]:
a.extend(b)

In [97]:
a, b

([1, 2, 3, 40, 5, 6], [40, 5, 6])

In [98]:
a.append(7)

In [99]:
a

[1, 2, 3, 40, 5, 6, 7]

In [100]:
a.index(1)

0

In [101]:
a, a.index(40)

([1, 2, 3, 40, 5, 6, 7], 3)

In [102]:
a.append(40)

In [103]:
a.index(9)

ValueError: 9 is not in list

In [104]:
a.remove(40)

In [105]:
b = [50 for i in range(10)]
print(b)
while True:
    if 50 in b:
        b.remove(50)
    else:
        break
print(b)

[50, 50, 50, 50, 50, 50, 50, 50, 50, 50]
[]

In [106]:
a

[1, 2, 3, 5, 6, 7, 40]

In [107]:
a.insert(0, 0)

In [108]:
a

[0, 1, 2, 3, 5, 6, 7, 40]

In [109]:
a.insert(0, 999)

In [110]:
a

[999, 0, 1, 2, 3, 5, 6, 7, 40]

In [111]:
a.insert(3, 300)

In [112]:
a

[999, 0, 1, 300, 2, 3, 5, 6, 7, 40]

In [113]:
a.clear()

In [114]:
a

[]

In [115]:
a = [999, 0, 1, 300, 2, 3, 4, 5, 6]

In [116]:
c = a.sort()

In [117]:
a, c

([0, 1, 2, 3, 4, 5, 6, 300, 999], None)

In [118]:
a.reverse()

In [119]:
a

[999, 300, 6, 5, 4, 3, 2, 1, 0]

In [120]:
a.pop() # pops the last element

0

In [121]:
a

[999, 300, 6, 5, 4, 3, 2, 1]

In [122]:
a.pop(2) # By Specifying the index

6

In [123]:
a

[999, 300, 5, 4, 3, 2, 1]

In [124]:
a = [1, 1, 1, 2, 3, 3, 4, 4, 4, 4, 4]
a.count(1)

3

In [125]:
a.count(2)

1

In [126]:
a.count(3)

2

In [127]:
a.count(4)

5

In [128]:
a.remove(1)

In [129]:
a

[1, 1, 2, 3, 3, 4, 4, 4, 4, 4]

# `dict`

In [130]:
a = {} # Empty Dict
b = dict() # Empty Dict
print(a, b)

{} {}

In [131]:
each = 'one'
a[each] = 1

In [132]:
a

{'one': 1}

In [133]:
b = {'two': 2, 'five': 5}

In [134]:
b

{'two': 2, 'five': 5}

In [135]:
a + b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [136]:
# a = {'two': 2000}
a.update(b)

In [137]:
a, b

({'one': 1, 'two': 2, 'five': 5}, {'two': 2, 'five': 5})

In [138]:
a.get('one')

1

In [139]:
a['one']

1

In [140]:
a['three']

KeyError: 'three'

In [141]:
a.get('three', 3)

3

In [142]:
print(a)
a.clear()

{'one': 1, 'two': 2, 'five': 5}

In [143]:
a

{}

In [144]:
a = {'one': (1,2), 'two': 2, 'three': 3}
a.keys()
a.get('one')

(1, 2)

In [145]:
a.values()

dict_values([(1, 2), 2, 3])

In [146]:
a.items()

dict_items([('one', (1, 2)), ('two', 2), ('three', 3)])

In [147]:
a.pop('one')

(1, 2)

In [148]:
a

{'two': 2, 'three': 3}

In [149]:
a.popitem()

('three', 3)

In [150]:
a.setdefault('four', 4)

4

In [151]:
a

{'two': 2, 'four': 4}

In [152]:
a.setdefault('four', 40)

4

In [153]:
a

{'two': 2, 'four': 4}

# `set`

In [154]:
a = {} # Empty Set
b = set() # Empty set
print(a, b)

{} set()

In [155]:
a = set([1, 1, 2, 2, 3, 3, 4, 4])
a

{1, 2, 3, 4}

In [156]:
b = set([5, 6, 7, 8])

In [157]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [158]:
a.update(b)

In [159]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [160]:
a = set([1, 1, 2, 2, 3, 3, 4, 4])
b = set([4, 5, 6, 7, 8])
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [161]:
a

{1, 2, 3, 4}

In [162]:
b

{4, 5, 6, 7, 8}

In [163]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a.intersection(b)

{3, 4}

In [164]:
a.difference(b)

{1, 2}

In [165]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [166]:
a.discard(1)

In [167]:
a

{2, 3, 4}

In [168]:
a.issubset(b)

False

In [169]:
a = {1, 2, 3, 4}
b = {1, 2, 3, 4, 5, 6}
a.issubset(b)

True

In [170]:
a = {1, 2, 3, 4}
b = {1, 2, 3, 4, 5, 6}
b.issuperset(a)

True

In [171]:
a = {1, 2, 3, 4}
b = {1, 2, 3, 4, 5, 6}
b.difference_update(a)

In [172]:
a, b

({1, 2, 3, 4}, {5, 6})

In [173]:
a = {1, 2, 3, 4}
b = {1, 2, 3, 4, 5, 6}
a - b

set()

In [174]:
b - a

{5, 6}

# `tuple`

In [175]:
a = () # Empty tuple
b = tuple() # Empty Tuple
print(a, b)

() ()

In [176]:
1, 2

(1, 2)

In [177]:
a = 1, 2
a

(1, 2)

In [178]:
b = 3, 4
b

(3, 4)

In [179]:
a + b

(1, 2, 3, 4)

In [180]:
a.index(2)

1

In [181]:
c = a + b
print(c)
c.index(3)

(1, 2, 3, 4)

2

In [182]:
c

(1, 2, 3, 4)

In [183]:
a_list = [1, 2, 3, 4]
a_tuple = (1, 2, 3, 4)

In [184]:
a_list[0] = 999
a_list

[999, 2, 3, 4]

In [185]:
a_tuple[0]  = 999

TypeError: 'tuple' object does not support item assignment

# `if` conditioins

In [186]:
if True:
    print('This is boolean True')

This is boolean True

In [187]:
if False:
    print('This is boolean False')

In [188]:
if not False:
    print('This is boolean False')

This is boolean False

In [189]:
if None:
    print('This is None')

In [190]:
if not None:
    print('This is None')

This is None

# Introduction of `else` and `elif`

In [191]:
# Find if the number is even 
a = 6
if (a % 2) == 0:
    print('a is even %s' % a)
else:
    print('a is odd %s' % a)

a is even 6

In [192]:
a = 10000  # Introduced conversion of string to int
if a < 0:
    print('a is negative number')
elif 0 <= a <= 100: # (0 <= a) and (a <=100)
    print('a is in range 0 to 100')
else:
    print('a is not in range 0 to 100')

a is not in range 0 to 100

# more on `if`

In [193]:
if 1:
    print('This is 1. Valid True')

This is 1. Valid True

In [194]:
if 0:
    print('This is 0. Valid False')

In [195]:
if not 0:
    print('This is 0. Valid False')

This is 0. Valid False

In [196]:
# Re writing. Find if the number is even 
a = 11
if not (a % 2): # (a % 2) == 0
    print('a is even %s' % a)
else:
    print('a is odd %s' % a)

a is odd 11

In [197]:
'Success' if True else 'Fail' # Single liner if

'Success'

In [198]:
'Success' if False else 'Fail'

'Fail'

In [199]:
a = 11
b = 'Odd' if a % 2 else 'Even'
print('a is %s number: %s' % (b, a))

a is Odd number: 11

# `try` `except` block

In [200]:
# Re writing. Find if the number is even 
try:
    a = 'hello'
    if not (a % 2):
        print('a is even %s' % a)
    else:
        print('a is odd %s' % a)
except Exception as err:
    print('a is not a valid integer %s' % (err,))

a is not a valid integer not all arguments converted during string formatting

In [201]:
a = ['a', 'apple', '', 1, 0, -1, None, {}, [], set(), (), {'a': 1}, {1}, [1], (1,), [None], (None, )]
for each in a:
    print(type(each), end ='; ')
    if each:
        print('This is valid True %s' % str(each))
    else:
        print('This is valid False %s' % str(each))

<class 'str'>; This is valid True a
<class 'str'>; This is valid True apple
<class 'str'>; This is valid False
<class 'int'>; This is valid True 1
<class 'int'>; This is valid False 0
<class 'int'>; This is valid True -1
<class 'NoneType'>; This is valid False None
<class 'dict'>; This is valid False {}
<class 'list'>; This is valid False []
<class 'set'>; This is valid False set()
<class 'tuple'>; This is valid False ()
<class 'dict'>; This is valid True {'a': 1}
<class 'set'>; This is valid True {1}
<class 'list'>; This is valid True [1]
<class 'tuple'>; This is valid True (1,)
<class 'list'>; This is valid True [None]
<class 'tuple'>; This is valid True (None,)

# Already introduced `for`

In [202]:
# List
a = [1, 2, 3, 4, 5] 
for each in a:
    print(each)

1
2
3
4
5

In [203]:
# Tuple
a = (1, 2, 3, 4, 5)
for each in a:
    print(each)

1
2
3
4
5

In [204]:
# Set
a = {1, 2, 3, 4, 5}
for each in a:
    print(each)

1
2
3
4
5

In [205]:
# Dict: only Keys
a = {'one': 1, 'two': 2, 'three': 3, 'four': 4}
for each in a:
    print(each)

one
two
three
four

In [206]:
# Dict: only Values
a = {'one': 1, 'two': 2, 'three': 3, 'four': 4}
for each in a.values():
    print(each)

1
2
3
4

In [207]:
# Dict: key, value in tuple
a = {'one': 1, 'two': 2, 'three': 3, 'four': 4}
for each in a.items():
    print(each) # Here each is a tuple

('one', 1)
('two', 2)
('three', 3)
('four', 4)

In [208]:
# Dict: key and value individually
a = {'one': 1, 'two': 2, 'three': 3, 'four': 4}
for k, v in a.items():
    print(k, v)

one 1
two 2
three 3
four 4

# Mapping `list`s

In [209]:
# Mapping two lists
a = ['one', 'two', 'three', 'four', 'five']
b = [1, 2, 3, 4]
for each in zip(b, a):
    print(each)

(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')

In [210]:
# Mapping two lists and converting them to a dictionary
dict(zip(b, a))

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

# Exercises

In [211]:
# To print all the odd numbers from 0 to 100 into a list
odd_number_list = []
for each in range(0, 100):
    if (each%2 != 0):
        odd_number_list.append(each)
print(odd_number_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [212]:
# To print all the odd numbers from 0 to 100 into a list
odd_number_list = []
for each in range(0, 100):
    if (each%2):
        odd_number_list.append(each)
print(odd_number_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [213]:
a = []
for each in range(0, 100):
    a.append(each)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

# `list` comprehension

In [214]:
# Make a list that contains values from 0 to 100
a = [number for number in range(0, 100)]

In [215]:
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [216]:
# Make a list that contains all the odd numbers from 0 to 100
a=[number for number in range(0, 100) if number%2]
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [217]:
# All elements divisible by 3
a=[number for number in range(0, 100) if not number%3]
print(a)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [218]:
# print square of all the elements from 0, 10
a = [number*number for number in range(0, 10)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [219]:
def square(x):
    return x*x
a = [square(x) for x in range(5)]
print(a)

[0, 1, 4, 9, 16]

In [220]:
# print squareroot of all the elements from 0, 10
import math
a = [math.sqrt(number) for number in range(0, 10)]
print(a)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0]

# Introduction to methods

In [221]:
def method():
    a = 1 +2
    b = 3 +4
    pass

print(a , b)
print(method())

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0] [1, 2, 3, 4]
None

In [222]:
def method():
    return 
method()

In [223]:
def square(n):
    return n*n
square(10)

100

In [224]:
def compare(a, b):
    return a <= b
compare(20, 30)

True

In [225]:
var = ('prefix-set FAILOVER_v4 '
    '0.0.0.0/0 le 32 \n'
       'end-set \n'
       '! \n')

In [226]:
print(var)

prefix-set FAILOVER_v4 0.0.0.0/0 le 32
end-set
!

In [227]:
def char_counter(input_str):
    counter_dict = dict()
    for each in input_str:
        counter_dict.setdefault(each, 0)
        counter_dict[each] += 1
    return counter_dict
print(char_counter('hello Srinu'))

{'h': 1, 'e': 1, 'l': 2, 'o': 1, ' ': 1, 'S': 1, 'r': 1, 'i': 1, 'n': 1, 'u': 1}

In [ ]:
a = input()
print(a)
print(type(a))
a = int(a)
print(a)
print(type(a))

In [232]:
0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7

SyntaxError: invalid syntax (<ipython-input-232-7667e303bd4d>, line 2)

In [233]:
0

0

In [234]:
def test():
    max_int = int(input())
    a = []
    for each in range(0, max_num):
        a.append(each)
    print(a)

In [235]:
print('0 1 2 3')

0 1 2 3

In [236]:
c = ' '.join(['0', '1', '2', '3'])

In [237]:
type(c)

str

In [238]:
def test(max_int):                     # O(n*n)
    a = ''
    for each in range(0, max_int+1):   # O(n)
        for i in range(0, each+1):     # O(n)
            a += str(i)
            a += ' '
        a += '\n'
    return a
print(test(5))

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [239]:
10 in  [4, 3, 2, 7, 8, 2, 1, 3]

False